@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Banner Styles */

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #161616;
    border-radius: 30px;
    padding: 70px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 24px;
    color: #fff;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-right img {
    width: 100%;
}

/* Main Section part */

.main-part {
    display: flex;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog img {
    width: 100%;
}

.blog-info {
    display: flex;
    align-items: center;
}

.blog-info img {
    height: 24px;
    width: 24px;
}

.blog-details{
    padding: 20px;
}